In [1]:
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
district_true = school_data_complete['type'] == 'District'
district_data = school_data_complete[district_true]
district_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Make new dataframe and populate it with corresponding values
district_summary= pd.DataFrame([0])

# Calculate the total number of schools
# Calculate the total number of students
district_summary["Number of Schools"] = len(district_data['School ID'].value_counts())
district_summary["Number of Students"] = district_data['Student ID'].count()

# Calculate the total budget
budget_vals = district_data['budget'].unique()
district_summary["Total Budget"] = budget_vals.sum()

# Calculate the average math score
math_score = district_data["math_score"]
district_summary["Average Math Score"] = math_score.mean()

# Calculate the average reading score
reading_score = district_data["reading_score"]
district_summary["Average Reading Score"] = reading_score.mean()

# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
district_summary["Overall Average Score"] = (reading_score + math_score)/2

# Calculate the percentage of students with a passing math score (70 or greater)
math_score = district_data["math_score"]
district_summary["% Passing Math"] = (math_score > 70).mean() * 100

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = district_data["reading_score"]
district_summary["% Passing Reading"] = (passing_reading_score > 70).mean() * 100

district_summary = district_summary.drop([0], axis=1)

In [4]:
district_summary

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,% Passing Math,% Passing Reading
0,7,26976,17347923,76.987026,80.962485,72.5,64.305308,78.369662

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [93]:
# Create an overview table that summarizes key metrics about each school, including:
schools_summary= school_data_complete.drop(columns=['Student ID','student_name', 'gender', 'grade', 'School ID'])

schools_summary = schools_summary.groupby(['school_name', 'type']).mean()

schools_summary = schools_summary.reset_index(drop=False)

schools_summary = schools_summary.set_index('school_name')



# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
schools_summary = schools_summary.rename(columns={"type": "School Type", "reading_score" : "Average Reading Score", "math_score"
                                                 : "Average Math Score", "size": "Total Students", "budget": "Total School Budget"})
budget = schools_summary['Total School Budget'].values
students = schools_summary['Total Students'].values
schools_summary['Per Student Budget'] = budget/students
schools_summary


# % Passing Math
# Number passing math


# schools_summary["% Passing Math"]

# % Passing Reading

# Overall Passing Rate (Average of the above two)

,School Type,Average Reading Score,Average Math Score,Total Students,Total School Budget,Per Student Budget
school_name,,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,628.0
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,582.0
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,639.0
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,644.0
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,625.0
Hernandez High School,District,80.934412,77.289752,4635.0,3022020.0,652.0
Holden High School,Charter,83.814988,83.803279,427.0,248087.0,581.0
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,655.0
Johnson High School,District,80.966394,77.072464,4761.0,3094650.0,650.0
Pena High School,Charter,84.044699,83.839917,962.0,585858.0,609.0
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,637.0
Shelton High School,Charter,83.725724,83.359455,1761.0,1056600.0,600.0
Thomas High School,Charter,83.848930,83.418349,1635.0,1043130.0,638.0
Wilson High School,Charter,83.989488,83.274201,2283.0,1319574.0,578.0
Wright High School,Charter,83.955000,83.682222,1800.0,1049400.0,583.0

In [155]:
##Figure out percentage of students passed per school
schools_summary2 = school_data_complete.drop(columns=['Student ID','student_name', 'gender', 'grade', 'School ID'])
passing_math = school_data_complete.loc[schools_summary2['math_score']>69,:]
df.group('school_name').math_score.count().reset_index()

# reading_counter = 0
# school_name
# if 
#     for reading_score in schools_summary2['reading_score']:
#         if reading_score > 70:
#             reading_counter += 1
#     schools_summary2.apply(reading_passed = reading_counter)
# reading_counter

              school_name  reading_score  math_score      type  size   budget
0       Huang High School             66          79  District  2917  1910635
1       Huang High School             94          61  District  2917  1910635
2       Huang High School             90          60  District  2917  1910635
3       Huang High School             67          58  District  2917  1910635
4       Huang High School             97          84  District  2917  1910635
...                   ...            ...         ...       ...   ...      ...
37535  Thomas High School             76          76   Charter  1635  1043130
37536  Thomas High School             84          82   Charter  1635  1043130
37537  Thomas High School             80          90   Charter  1635  1043130
37538  Thomas High School             71          69   Charter  1635  1043130
37539  Thomas High School             86          76   Charter  1635  1043130

[75 rows x 6 columns]

## Top Performing Schools (By Passing Rate)
* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores By Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [67]:
# Create a table that displays each school's math grade by grade level
math_scores_by_grade = school_data_complete.drop(columns=['Student ID','student_name', 'gender', 'School ID', 'size', 'budget', 'reading_score'])

# Find averages
math_scores_by_grade = math_scores_by_grade.groupby(['school_name', 'grade']).mean()

# Reset index to make it more clear
math_scores_by_grade = math_scores_by_grade.reset_index(drop=False)
math_scores_by_grade = math_scores_by_grade.set_index('school_name')

# Pivot table to display grade index as columns
math_scores_by_grade = math_scores_by_grade.pivot(columns='grade', values='math_score')
math_scores_by_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

## Reading Score by Grade 

* Perform the same operations as above for reading scores

In [89]:
# Create a table that displays each school's reading grade by grade level
reading_scores_by_grade = school_data_complete.drop(columns=['Student ID','student_name', 'gender', 'School ID', 'size', 'budget', 'math_score'])

# Find averages
reading_scores_by_grade = reading_scores_by_grade.groupby(['school_name', 'grade']).mean()

# Reset index to make it more clear
reading_scores_by_grade = reading_scores_by_grade.reset_index(drop=False)
reading_scores_by_grade = reading_scores_by_grade.set_index('school_name')

# Pivot table to display grade index as columns
reading_scores_by_grade = reading_scores_by_grade.pivot(columns='grade', values='reading_score')
reading_scores_by_grade.iloc[0]

grade
10th    80.907183
11th    80.945643
12th    80.912451
9th     81.303155
Name: Bailey High School, dtype: float64

## Scores by School Spending
* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [101]:
school_spending = schools_summary.drop(columns=['School Type', 'Total Students', 'Total School Budget'])

In [102]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [108]:
school_spending["Spending Ranges (Per Student)"] = pd.cut(school_spending["Per Student Budget"], spending_bins, labels=group_names)
school_spending.groupby("Spending Ranges (Per Student)")
school_spending

ValueError: setting an array element with a sequence

## Scores by School Size
* Perform the same operations as above, based on school size.

In [29]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type
* Perform the same operations as above, based on school type.